.footer{
    background-color: rgb(63, 63, 63);
    position: relative;
    top: 0px;
    z-index: 1;
}
p{
    padding-left: 50px;
    display: inline-block;
    padding-right: 30px;
    font-size: 20px;
}