.navBar{
    display: inline-block;
    margin-right: 50px;
}
a{
    font-size: 25px;
}
.Logo{
    font-family: cursive;
    margin-right: 250px;
    margin-left: 30px;
}

.logIn{
    margin-left: 300px;
}