.navBar{
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
link{

}
.Logo{
    font-family: cursive;
    margin-right: 300px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
}

.logIn{
    margin-left: 300px;
}