/*.........First Section.........*/
.mainTraingle{
    position: absolute;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 550px;
    transform: scaleX(-1);
}
/* .mainImage{
    display: inline-block;
    position: absolute;
    top: 0px;
    width: 70%;
    height: 550px;
    z-index: -1;
    margin-left: 405px;
} */
h1{
    margin-top: 150px;
    margin-bottom: 330px;
    margin-left: 50px;
    font-size: 60px;
}
h1 span{
    position: relative;
    top: 50px;
    left: -350px;
    font-size: 20px;
}

.line{
    width:800px;
    height: 20px;
    background-color: black;
}
/*.........Second Section.........*/
section{
    margin-bottom: 400px;
}
section h2{
    position: relative;
    margin-left: 700px;
    margin-right: 300px;
    font-size: 50px;
    z-index: 1;
}
section div{
    background-color:#3f3e3e;
    position: relative;
    top: -80px;
    left: 300px;
    height: 250px;
    width: 500px;

}