.footer{
    /* clear: both; */
    background-color: rgb(63, 63, 63);
    position: relative;
    top: 480px;
    z-index: 1;
    width: 100%;
    height: 65px;
    opacity: .8px;
}
.paragraph{
    clear: both;
    display: inline-block;
    /* padding-right: 30px; */
    padding-left: 30px;
    font-size: 25px;
    margin-left:100px;
    color: black;
    color: #f2a16f;
}
.icon{
    position: relative;
    top: 10px;
    left: 350px;
    clear: both;
    /* padding-top: 10px; */
    padding-right:15px;
    color: black;
    color: #f2a16f;
}