*{
    box-sizing: border-box;
}
/*.........First Section.........*/
.mainTraingle{
    position: absolute;
    top: 0px;
    right:0px;
    z-index: -1;
    width: 80%;
    height: 200%;
}

h1{
    margin-top: 100px;
    margin-bottom: 330px;
    margin-left: 90px;
    font-size: 120px;
    color: #f2a16f;
    font-family: Arial, Helvetica, sans-serif;
}
.divgigInfo{
    position: absolute;
    top: 350px;
    left: 95px;
    font-size: 30px;
    color: #475351;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

.line{
    width:500px;
    height: 10px;
    background-color: #434f4d;
    margin-bottom: 100px;
}
/*.........Second Section.........*/

section h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #f2a16f;
    font-weight: bold;
    position: relative;
    margin-left: 600px;
    font-size: 60px;
    z-index: 1;
}
.firstInfo{
    background-color:#3f3e3e;
    margin-top: -30px;
    margin-left: 40px;
    height: 300px;
    width:700px;
}
section li{
    list-style: disc;
    color: #d0cecd;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
    font-size: 20px;
    color: #f2a16f;
}
.line2{
    margin-top: 150px;
    margin-left: 545px;
    width:800px;
    height: 10px;
    background-color: #434f4d;
    /* margin-bottom: 100px; */
}
/*.........Third Section.........*/

.thirdSection h2{
    position: relative;
    top: 30px;
    font-size: 60px;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2a16f;
    font-weight: bold;
}
.about{
    background-color:#3f3e3e;
    position: relative;
    top: 0px;
    left: 350px;
    height: 300px;
    width: 700px;
    z-index: -1;
}
.thirdSection p{
    padding-left: 50px;
    padding-top: 50px;
    font-size: 30px;
    color: #f2a16f;
    width:600px;
    font-family: Arial, Helvetica, sans-serif;
}
/*.........Fourth Section.........*/
.rightImage{
    position: relative;
    top: -350px;
    right: 30px;
    float: right;
    width: 150px;
    height: 150px;
}
.middleImage{
    position: relative;
    top: 130px;
    right: 600px;
    float: right;
    width: 250px;
    height: 250px;
}
.leftImage{
    position: relative;
    top: -50px;
    right: 770px;
    float: right;
    width: 150px;
    height:150px;
}
.imageGirl{
    position: absolute;
    top: 1300px;
    left:640px;
    float: right;
    width: 700px;
    height:900px;
}

.mapImage{
    position: absolute;
    top:1200px;
    height: 1000px;
    width: 800px;
    z-index: -1;
    margin-bottom: 100px;
}